.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

appsettings-dev.json

# Local History for Visual Studio Code
.history/

**/keys.json
**/**config.json

# Built Visual Studio Code Extensions
*.vsix

**/bin
**/obj
**/Release